<style>

#a1{
  
  position: center;
  margin-bottom:15px;
  font-size:175%;
}
h1{
	display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
body{
	text-align:center;
}
* {
  box-sizing: border-box;
  
}
#tle{
	width:20%;
	padding-top:5px;
	border :1px solid black;
	height:25px;
	float:right;
	font-weight:bold;
	box-sizing:border-box;
	background-color:#FF800D;
	margin-right:0px;
}
#tle2{
	width:20%;
	padding-top:5px;
	border :1px solid black;
	height:25px;
	float:right;
	font-weight:bold;
	box-sizing:border-box;
	background-color:#D881ED;
	margin-right:0px;
}
#tle3{
	width:20%;
	padding-top:5px;
	border :1px solid black;
	height:25px;
	float:right;
	font-weight:bold;
	box-sizing:border-box;
	background-color:#CCFF33;
	margin-right:0px;
	
}

p{
	
	height:190px;
	box-sizing:border-box; 
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: white;
	text-align:left;
	
}


#p1{
	padding-top:20px;
	color:black;
	padding-left:20px;
	padding-right:20px;
	box-sizing:border-box;
}

#p2{
	padding-top:20px;
	color:black;
	padding-left:20px;
	padding-right:20px;
	box-sizing:border-box;
	
}

#p3{
	padding-top:20px;
	color:black;
	padding-left:20px;
	padding-right:20px;
	box-sizing:border-box;
}
#d1{
	margin-top:70px;
	width:33.3%;
	margin-left:25px;
	margin-bottom:20px;
	background-color:#00FFCC;
	border: 1px solid black;
	box-sizing:border-box;
}
#d2{
	margin-top:70px;
    width:33.3%;
	margin-left:20px;
	margin-bottom:20px;
	background-color:#FF0099;
	border: 1px solid black;
	box-sizing:border-box;
	
}
#d3{
	margin-top:70px;
	width:33.3%;
	margin-left:20px;
	margin-bottom:20px;
	background-color:#59DF00;
	border: 1px solid black;
	box-sizing:border-box;
	
}

.row {
  width: 100%;
}

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float:left;
    border: 1px solid black;
	
  }
  #d1{
	  width:31%;
	   
  }
  #d2{
	width:31%;
	 
  }
  #d3{
	  width:31%;
	
  }
  
  .col-lg-1 {
    width: 8.33%;
	
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
	
  }
  .col-lg-7 {
    width: 58.33%;
	
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
	
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid black;
	margin-right:5px;
	
  }
  #d1{width:45%;}
  #d2{width:45%;
  margin-right:10px;}
  #d3{width:93%;
  margin-top:10px;
  margin-left:25px;}
 
  .col-md-1 {
    width: 8.33%;
	
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 40.66%;
  }
  .col-md-6 {
    width: 48%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
	
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  
}
@media (max-width: 767px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	  width:100%;
	  box-sizing:border-box;
	  margin-left:10px;
	  border: 1px solid black;
}
#d1{width:90%;
 margin-right:10px;
 margin-left:20px;
 }
#d2{width:90%;
 margin-right:10px;
 margin-top:10px;}
#d3{width:90%;
 margin-right:10px;
 margin-top:10px;}
</style>
